@font-face {
    font-family: TitlingGothicRegular;
    src: url(../fonts/titling/TitlingGothicFBComp-Reg.otf);
  }


@media (min-width:320px)  { 
    .name-title{
        font-size:3em;
        color:white;
        font-family: TitlingGothicRegular;
    }
    .name-title-container{
        border: 0.1em solid white;
        width: 94%;
        margin-left: 0.5em;
    }
    .skill-cell{
        width:100%;
    }
    .skill-title{
        width:100%;
    }
}
    
@media (min-width:481px)  { 
    .name-title{
        font-size:3em;
        color:white;
        font-family: TitlingGothicRegular;
    }
    .name-title-container{
        border: 0.1em solid white;
        width: 94%;
        margin-left: 0.5em;
    }
    .skill-cell{
        width:100%;
    }
    .skill-title{
        width:100%;
    }
}


@media (min-width:641px)  { 
    .name-title{
        font-size:3em;
        color:white;
        font-family: TitlingGothicRegular;
    }
    .name-title-container{
        border: 0.1em solid white;
        width: 94%;
        margin-left: 0.5em;
    }
    .skill-cell{
        width:100%;
    }
    .skill-title{
        width:100%;
    }
}

@media (min-width:750px)  {
    .name-title-container{
        border: 0.1em solid white;
        width: 45%;
        margin-left: 11.5em;
    }
    .skill-cell{
        width:100%;
    }
    .skill-title{
        width:80%;
    }
}
    
@media (min-width:800px)  { 
    .name-title{
        color:white;
        font-family: TitlingGothicRegular;
        font-size:5em;
    }
    .name-title-container{
        border: 0.1em solid white;
        width: 59%;
        margin-left: 9em;
    }
    .skill-cell{
        width:50%;
    }
    .skill-title{
        width:80%;
    }
}

@media (min-width:1000px) { 
    .name-title{
        color:white;
        font-family: TitlingGothicRegular;
        font-size:5em;
    }
    .name-title-container{
        border: 0.1em solid white;
        width: 41%;
        margin-left: 21em;
    }
    .skill-cell{
        width:50%;
    }
    .skill-title{
        width:80%;
    }

}
.grid{
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow:row wrap;
    width:100%;
}
.cell{
    flex: 0 0 auto;
    min-height:0px;
    min-width:0px;
    -webkit-box-flex: 0;
}

.about-me-section{
    background-color:white;
    padding-top:3em;
    padding-bottom:3em;
    width:100%;
    height: auto;
}
.about-me-container h2{
    color:grey;
    font-family: TitlingGothicRegular;
}
.about-me-container{
    text-align: center;
    line-height: 0.02em;
}
.about-me-container span{
    height:.1em;
    width:7%;
    background-color: black;
    display: inline-block;
}
.first-skill-text{
    width: 70%;
    margin-left: 15%;
}
.skill-title{
    text-align: center;
    margin-bottom:2em;
}

/*-----------------------------------------
    CUSTOM STYLES FOR SAL    
----------------------------------------*/
.skill-cell{
    --sal-duration:3s;
}